@model Resume.Application.DTOs.Admin.AboutMeAdminDTO

<h4>AboutMeAdminDTO</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form enctype="multipart/form-data" asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ID" class="control-label"></label>
                <input asp-for="ID" class="form-control" />
                <span asp-validation-for="ID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Title1" class="control-label"></label>
                <input asp-for="Title1" class="form-control" />
                <span asp-validation-for="Title1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description1" class="control-label"></label>
                <input asp-for="Description1" class="form-control" />
                <span asp-validation-for="Description1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="Title1_PicPath" class="form-control" hidden="hidden" />
                <img src="/@Html.DisplayFor(model => model.Title1_PicPath)" width="150" height="150" />

            </div>
            <div class="form-group">
                <label asp-for="Title1_Pic" class="control-label"></label>
                <input asp-for="Title1_Pic" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="subtitle1" class="control-label"></label>
                <input asp-for="subtitle1" class="form-control" />
                <span asp-validation-for="subtitle1" class="text-danger"></span>
            </div>
            

            
            <div class="form-group">
                <label asp-for="Title2" class="control-label"></label>
                <input asp-for="Title2" class="form-control" />
                <span asp-validation-for="Title2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description2" class="control-label"></label>
                <input asp-for="Description2" class="form-control" />
                <span asp-validation-for="Description2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="Title2_PicPath" class="form-control" hidden="hidden" />
                <img src="/@Html.DisplayFor(model => model.Title2_PicPath)" width="150" height="150" />

            </div>

            <div class="form-group">
                <label asp-for="Title2_Pic" class="control-label"></label>
                <input asp-for="Title2_Pic" class="form-control" />
            </div>
            
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

